.contador {
    min-width: 2px;
    height: 70px;
    font-size: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(202, 8, 179);
    margin-bottom: 15px ;
    border-radius: 45px;
    display: flex;
    flex-direction: center; /* Aligns buttons vertically */
    align-items: center;    /* Centers buttons horizontally */
    justify-content: center; /* Centers buttons vertically */
    height: 10vh; /* Makes the container full height */
}